
.cfrplugin-tools {
  opacity: 0;
  transition: opacity 60ms;
  display: inline-block;
  margin-left: 5px;
  position: relative;
}

.cfr-drilldown > .form-type-select:hover > .cfrplugin-tools {
  opacity: 1;
}

.cfrplugin-tools > a {
  text-indent: -999px;
  display: inline-block;
  margin: 0 5px;
  width: 1em;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.cfrplugin-tools > a::before {
  content: '|||';
  display: block;
  transform: rotate(90deg);
  position: absolute;
  text-indent: 0;
}

.cfrplugin-tools:hover {
}

.cfrplugin-tools > ul {
  display: none;
  list-style: none;
  margin: -1px -200px 0 0;
  padding: 5px 0;
  position: absolute;
  background: white;
  border: 1px solid #aaa;
  z-index: 100;
}

.cfrplugin-tools:hover > ul {
  display: block;
}

.cfrplugin-tools > ul > li {
  display: block;
  list-style: none;
}

.cfrplugin-tools > ul > li > hr {
  margin: 5px 0;
}

.cfrplugin-tools > ul > li > a {
  display: block;
  padding: 0 9px;
  transition: opacity 60ms;
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}

.cfrplugin-tools > ul > li  a:hover {
  text-decoration: none;
  opacity: 1;
}
